node_modules
# don't lint build output (make sure it's set to your correct build folder name)
dist
# don't lint nyc coverage output
coverage
reports
config

# config files
jest.config.js
.eslintrc.js
