@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600;800&display=swap');
$font-family: 'Baloo 2', Helvetica, Arial, sans-serif;

$primary-color: #3AAFA9;
$secondary-color: #FEFFFF;
$extra-color: #17252A;

$deep-green: #048692;
$light-green: #b4f1dd;
$beige: #ecde5d;
$mustard: #FCE181;
$grey: #EDEAE5;

$primary-top-space: 12px;
$secondary-top-space: 5px;
$primary-left-space: 10px;
